.camera {
  &__image {
    height: 100%;
    display: block;

    &-wrapper {
      overflow: hidden;
      margin-top: 20px;
      border-radius: 10px;
    }
  }

  &__controls {
    display: none;
  }
}
