@import "../../constants.scss";

.main {
  box-sizing: content-box;
  margin: 0 170px;
  padding: 0 $desktopPadding;

  &__header {
    font-size: $fontSizeXL;
    font-weight: 700;
    margin: 34px 0 32px;
  }
}

@media screen and (max-width: 1450px) {
  .main {
    max-width: 1030px;
    margin: 0 auto;
  }
}
