<div class="camera">
  <div class="camera__image-wrapper">
    <img class="camera__image" touch-action="none" src="{{image}}" draggable="false"/>
  </div>
  <div class="camera__controls">
    <div class="camera__zoom">Приближение: <span class="camera__zoom-value">0</span>%</div>
    <div class="camera__brightness">Яркость: <span class="camera__brightness-value">0</span>%</div>
  </div>
</div>
