<div class="card__content-thermal">
  <div>
    Температура: <span class="card__content-temp">{{temperature}} C</span>
  </div>
  <div>
    Влажность: <span class="card__content-humi">{{humidity}}%</span>
  </div>
</div>
