@import "../../constants.scss";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.page {
  font: $baseFontSize $fontFamily;
  line-height: 1.143;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $black;
  display: flex;
  flex-direction: column;

  &__wrapper {
    flex: 1 0 auto;
  }
}
