.camera {
  &__image {
    max-height: 250px;
    user-select: none;
    touch-action: none;

    &-wrapper {
      overflow-x: auto;
      max-height: 250px;
    }
  }

  &__controls {
    font-size: 0.6666em;
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
  }
}
