.card_size {
  &_s {
    grid-column: span 2;
  }

  &_m {
    grid-column: span 3;
  }

  &_l {
    grid-column: span 4;
    grid-row: span 3;
  }
}

@media screen and (min-width: 550px) {
  .card {
    &_size {
      &_s {
        grid-column: span 3;
      }

      &_l {
        grid-column: span 6;
      }
    }
  }
}

@media screen and (min-width: 850px) {
  .card {
    &:hover {
      & > .card__close,
      & > .card__next {
        display: block;
      }
    }

    &_size {
      &_s {
        grid-column: span 2;

        .card__meta {
          flex-direction: column;
        }
      }

      &_l {
        grid-column: span 4;
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .card {
    &_size {
      &_m {
        grid-column: span 2;
      }

      &_l {
        grid-column: span 4;
        grid-row: span 3;

        .card__body {
          font-size: 1.3333em;
        }
      }
    }
  }
}
