@import "../../constants.scss";

.card {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border-radius: 20px;
  background: $alabaster;
  justify-content: space-between;

  &:hover {
    box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
  }

  &_type_critical {
    color: $white;
    background: $criticalColor;

    .card__body {
      padding: 20px;
    }

    .card__title-icon {
      filter: brightness(5);
    }
  }

  // heading elem
  &__heading {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }

  // body elem
  &__body {
    font-size: 1.1111em;
    padding: 0 20px 20px;
    color: $black;
    border-radius: 20px;
    background: $alabaster;
  }


  // title elem
  &__title {
    display: flex;
    justify-content: flex-start;

    &-icon {
      width: 52px;
      height: 52px;
      margin-right: 18px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
    }

    &-text {
      font-size: 1.3333em;
      font-weight: 700;
      max-height: 58px;
      overflow: hidden;
      display: flex;
      align-items: center;
    }
  }

  // meta elem
  &__meta {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;

    &-time,
    &-source {
      margin-top: 20px;
    }
  }

  &__content-thermal {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 0.7777em;

    .card__content-temp,
    .card__content-humi {
      font-weight: 700;
    }
  }

  &__content-graph {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
  }

  &__content-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;

    @media screen and (max-width: 550px) {
      justify-content: space-between;
    }
  }
}
