$fontFamily: "Inter UI", Arial, sans-serif;
$baseFontSize: 14px;
$desktopPadding: 40px;
$mobilePadding: 20px;
$headerHeightDesktop: 92px;
$headerHeightMobile: 64px;
$fontSizeS: 12px;
$fontSizeM: 18px;
$fontSizeL: 24px;
$fontSizeXL: 36px;
$black: #333;
$white: #fff;
$alabaster: #fafafa;
$criticalColor: #db5341;
$yellow: #ffd93e;
$borderColor: #f0f0f0;
$zambezi: #605757;
$dustyGray: #979797;
$alto: #d8d8d8;
$volumeRange: rgba(216, 216, 216, 0.3);
